.slider-container{
    background-color: rgb(64, 65, 67);
    color: white;
    width:20%;
    height: 100%;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 5fr; 
    align-items: center;
    justify-content: center;
    position:relative;
    transition: all 1s ease-out;
}

.slider-close {
    max-width: 10%;
    transition: all 1s ease-out;
}

.slider-close h3{
    opacity: 0;
    display: none;
}

.slider-head{
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 80%;
}

.slider-toggle{
    display: flex;
    position:absolute;
    left:90%;
    top: 10%;
    width: 30px;
    height: 30px;
    background-color: grey;
    color: white;
    border-radius:10px;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
}

.slider-toggle:hover{
    background-color: white;
    color: gray;
}

.close{
    left: 85%;
    transform: rotate(180deg);
}

.nav-container{
    display:flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    align-items: center;
}

.nav{
    display:flex;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    padding: 10px 15%;
    transition: all 0.3s ease-out;
}

.nav h3{
    font-size: medium;
    transition: all 0.4s ease-out;
}

.slider-close .nav{
    padding: 10px 100%;
    justify-content: center;
}

.active{
    background-color: rgba(107, 107, 107, 0.782);
    color: white;
}

.nav:hover{
    background-color: rgba(107, 107, 107, 0.782);
    color: white;
    scale: 1.1;
}


